#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #2d2d2d;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #2d2d2d;
  color: #f4f4f2;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  background: #2d2d2d;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.title {
  font-size: 2.5rem;
  color: #f4f4f2;
  margin-bottom: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.seating-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1.5rem;
  background: #2d2d2d;
  border-radius: 15px;
  width: 95vw;
  height: calc(100vh - 150px);
  justify-content: center;
}

.row {
  display: flex;
  /* border: 1px solid red; */
  gap: 15px;
  width: 100%;
  justify-content: space-between;
}

.row > div:nth-child(5) {
  margin-right: 500px;
}

.seat {
  width: min(calc((95vw - 300px) / 10), calc((95vh - 300px) / 7));
  height: min(calc((95vw - 300px) / 10), calc((95vh - 300px) / 7));
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(min(calc((95vw - 300px) / 10), calc((95vh - 300px) / 7)) / 3);
  color: #f4f4f2;
  border: 2px solid #f4f4f2;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.vacant {
  background-color: #2d2d2d;
}

.occupied {
  background-color: #cb202d;
  border: 2px solid #cb202d;
  box-shadow: 0 0 15px rgba(203, 32, 45, 0.3);
}

.seat:hover {
  transform: scale(1.05);
  border-color: #cb202d;
}
